<form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="nome" class="form-label">Nome: </label>
      <input type="text" id="nome" class="form-control" placeholder="Insira o nome do produto..." formControlName="nome">
    </div>

    <div class="input-group">
      <label for="descricao" class="form-label">Descrição: </label>
      <textarea id="descricao" formControlName="descricao"></textarea>
    </div>

    <div class="input-group">
      <label for="imagem" class="form-label">Imagem: </label><br>
      <input type="text" id="imagem" class="form-control" placeholder="Insira o nome do produto..." formControlName="imagemUrl">
    </div>

    <div class="input-group">
      <label for="valor" class="form-label">Valor: </label><br>
      <input type="number" id="valor" class="form-control" placeholder="Insira o nome do produto..." formControlName="valor">
    </div>

    <div>
      <button type="submit" [disabled]="!newProductForm.valid">Gravar</button>
    </div>
</form>
